# node_modules - папка с зависимостями
node_modules/

# Папка с результатами сборки
dist/

# Файлы конфигурации IDE (например, VSCode)
.vscode/

# Логи
*.log

# Файлы с кэшом
.cache/

# Системные файлы macOS
.DS_Store

# Файлы, создаваемые системой Windows
Thumbs.db

# Скрытые файлы (если они не должны быть в репозитории)
*.env
